@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgba(0, 0, 0, 0.853);
}

main{
    background-color: rgb(51, 51, 51);
    margin: auto;
    margin-top: 6%;
    padding-top: 3%;
    max-width: 500px;

    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}


label{
    margin-left: 22%;
    font-size: 1.4em;
    display: block;
    color: rgb(177, 177, 177);
    padding-bottom: 2%;
}

output{
    display: block;
    padding: 2%;
    padding-left: 4%;
}

.clForte {
    color: green;
    
}

.clModerado{
    color: yellow;
    
}

.clFraco{
    color: red;
    
}

#idBarra {
    margin-left: 26.0801%;
    max-width: 500px;
    height: 3px;
}

#idArea {
    background-color: rgba(42, 42, 42, 0.742);
    max-width: 65%;
    margin: auto;
    padding: 10px;
    border-radius: 8px;
    
}

#idSenha {
   color: white;
   font-size: 1.3em;
   padding: 1%;
   background-color: rgba(42, 42, 42, 0.742);
   box-shadow: none;
}

#idButton {
    color: rgb(177, 177, 177);
    font-size: 1.3em;
    padding: 1%;
    background-color: rgba(42, 42, 42, 0.742);
}